
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background:linear-gradient(to right top,#f8b9b9,#FFD8D8);
  align-items: center;
  display: flex;
  justify-content: center;
}

.glass{
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.3));
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.circle1,.circle2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255,255,255,0.5));
  height: 200px;
  width: 200px;
  position:absolute;
  border-radius: 50%;
  
}


.circle3,.circle4 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255,255,255,0.1));
  height: 50px;
  width: 50px;
  position:absolute;
  border-radius: 50%;
    
}
.circle1{
  top:5%;
  right:10%;
}


.circle2{
  bottom:5%;
  left:15%;
  
}

.circle3 {
  top:85%;
  right:10%
}

.circle4 {
  bottom:90%;
  left:10%
}